<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIbs2GamKEKbE3uzY70Uocj_Xhy5h04BE</string>
	<key>GCM_SENDER_ID</key>
	<string>41703171333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Habit-Tracker</string>
	<key>PROJECT_ID</key>
	<string>habit-tracker-a8259</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-tracker-a8259.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41703171333:ios:e297633a454c3b8d4ec36c</string>
</dict>
</plist>